*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url('../img/noteboard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 10px;
  height: 100vh;
  margin: 0px;
  position: relative;
}

header {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  height: 300px;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

h1 {
  color: #900C3F;
  display: block;
  font-size: 2.8rem;
  margin: 0;
}

h2 {
  color: black;
  font-size: 1.8rem;
  margin: .2rem 0;
}

h3 {
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin: 0px auto 10px 10px;
  vertical-align: super;
}

p {
  font-size: 1.4rem;
  margin-top: .4rem;
  margin-bottom: 2em;
}

#box-header {
  color: #555555;
}

.input-field {
  border: 1px solid #D1D3D4;
  display: block;
  font-size: 1rem;
  height: 2.4rem;
  margin: 2.5% auto;
  resize: none;
  width: 50vw;
}

.input-field:placeholder {
  color: #AFB0B3;
}

.task {
  height: 4rem;
}

.save-btn {
  background-color: #555555;
  border-radius: 0px;
  border: none;
  color: #FFFFFF;
  font-size: 1rem;
  height: 2rem;
  width: 50vw;
}

.save-btn:hover {
  background-color: #900C3F;
}

.filter {
  left: 25%;
  position: fixed;
  top: 290px;
  width: 50vw;
  z-index: 1;
}

.btn-levels {
  left: 25%;
  position: fixed;
  top: 390px;
  width: 50vw;
  z-index: 1;
  text-align: center;
}

.btn {
  border: none;
  color: black;
  font-size: 1rem;
  height: 1.8rem;
  margin: .6rem .8rem;
  text-align: center;
  width: 100px;
  font-weight: bold;
}

.btn1 {
  background-color: #F26C4F;
}

.btn2 {
  background-color: #FBAF5C;
}

.btn3 {
  background-color: #ACD372;
}

.btn4 {
  background-color: #1ABBB4;
}

.btn5 {
  background-color: #438CCA;
}

.to-do {
  align-items: center;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  height: 47vh;
  overflow: scroll;
  position: fixed;
  width: 100vw;
  top: 500px;
}

article {
  border-bottom: 1px solid #D1D3D4;
  margin-bottom: 10px;
  padding-bottom: 15px;
  position: relative;
  width: 50vw;
}

.button {
  background-repeat: none;
  background-size: 2.25em 2.25em;
  border: none;
  height: 2.25em;
  margin-right: 10px; 
  width: 2.25em;
  border-radius: 50%;
}

.remove {
  background-image: url('../img/delete.svg');
  margin-right: 0px;
  position: absolute;
  right: 0;
  top: 14px;
}

.remove:hover {
  background-image: url('../img/delete-hover.svg');  
}

.level-up {
  background-image: url('../img/upvote.svg');
}

.level-up:hover {
  background-image: url('../img/upvote-hover.svg');
}

.level-down {
  background-image: url('../img/downvote.svg');
}

.level-down:hover {
  background-image: url('../img/downvote-hover.svg');
}

.completed-task {
  background-color: #555555;
  color: white;
  font-size: 1rem;
  height: 1.8rem;
  position: absolute;
  right: 0;
  border: none;
}

.completed-task:hover {
  background-color: #900C3F;
}

@media screen and (max-width: 761px) {

  .filter {
    top: 300px;
  }

  .btn-levels {
    left: 25%;
    position: fixed;
    top: 360px;
    width: 50vw;
  }

  .to-do {
    top: 540px;
  }
}

@media screen and (max-width: 720px) { 

  article {
    padding-bottom: 44px;
  }

  p.task {
    margin-bottom: 1rem;
    height: 3rem;
  }

  .completed-task {
    display: block;
    left: 0;
    margin-top: .8rem;
  }
}

@media screen and (max-width: 510px) { 

  .btn {
    margin: 0;
    display: block;
    width: 50vw;
  }
}

@media screen and (max-width: 365px) { 

  h3 {
    margin: 1rem 0;
  }
}